<!doctype html>
<title>MD410 Emonti Convention Registration Stats as at {{ dt }}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<body>
<h1>MD410 Emonti Convention Registration Stats as at {{ dt }}</h1>
<h2>Totals</h2>
<ul>
   <li>Total Attendees:  {{ stats.total_attendees }}</li>
   <li>Number of Lions:  {{ stats.lions }}</li>
   <li>Number of Non-Lions:  {{ stats.non_lions }}</li>
</ul>
<h2>Club Info</h2>
<h3>Numbers Per Club</h3>
<ul>
{% for (club, total) in stats.clubs.most_common() %}
   <li>{{ club }}:  {{ total }}</li>
{% endfor %}
</ul>
<h3>Numbers Per District</h3>
<ul>
{% for (district, total) in stats.districts.most_common() %}
   <li>{{ district }}:  {{ total }}</li>
{% endfor %}
</ul>
<h2>Attendees</h2>
<table border=1>
   <tr>
      <th>Last Name</th>
      <th>First Name(s)</th>
      <th>Club</th>
   </tr>
   {% for (key, attendee) in attendees %}
   <tr>
      <td>{{ attendee.last_name }}</td>
      <td>{{ attendee.first_names }}</td>
      <td>{{ attendee.club }}</td>
   </tr>
   {% endfor %}
</table>
</body>

