<!doctype html>
<title>Multiple District 410 2023 Convention Registration Stats as at {{ dt }}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<body>
<h1>Multiple District 410 2023 Convention Registration Stats as at {{ dt }}</h1>
<h3><a href="/stats_file">Download these stats as an Excel file</a></h3>
 <h2>Totals</h2>
<ul>
   <li>Total Attendees:  {{ stats.total_attendees }}</li>
   <li>Number of Lions:  {{ stats.lions }}</li>
   <li>Number of Non-Lions:  {{ stats.non_lions }}</li>
</ul>
<h2>Club Info</h2>
<h3>Numbers Per Club</h3>
<ul>
{% for (club, total) in stats.clubs.most_common() %}
   <li>{{ club }}:  {{ total }}</li>
{% endfor %}
</ul>
<h2>Dietary Restrictions</h2>
<ul>
{% if stats.dietary %}
   {% for dietary in stats.dietary %}
      <li>{{ dietary }}</li>
   {% endfor %}
{% else %}
   <li>None</li>
{% endif %}
</ul>
<h2>Disabilities</h2>
<ul>
{% if stats.disability %}
   {% for disability in stats.disability %}
      <li>{{ disability }}</li>
   {% endfor %}
{% else %}
   <li>None</li>
{% endif %}
</ul>
<h2>Attendees</h2>
<table border=1>
   <tr>
      <th>Reg Num</th>
      <th>Name</th>
      <th>Name Badge</th>
      <th>Club</th>
      <th>Lion or PIS/Child</th>
   </tr>
   {% for attendee in stats.attendees %}
   <tr>
      <td>{{ attendee.attendee_num }}</td>
      <td>{{ attendee.name }}</td>
      <td>{{ attendee.name_badge }}</td>
      <td>{{ attendee.club }}</td>
      <td>{{ attendee.member_type }}</td>
   </tr>
   {% endfor %}
</table>
</body>

